<head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="flex flex-row justify-between items-center px-7 bg-slate-700 border-b-2 border-blue-400 py-3">
      <a href="/" class="text-white font-bold text-2xl">Tick Tacktick</a>
      <ul class="flex flex-row space-x-10">
        <li><a href="/" class="text-white text-2xl hover:text-blue-400">
              <i class="fa fa-home"></i>
        </a></li>
        <li><a href="/create" class="text-white text-2xl hover:text-blue-400">
              <i class="fa fa-plus"></i>
        </a></li>
      </ul>
</nav>